[flake8]
# Keep in lockstep with pylint and black
max-line-length = 120

# Avoid clashes with Black's formatting rules
extend-ignore =
    # whitespace before ':'
    E203,  
    # line break before binary operator
    W503

# Skip non-source dir
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .mypy_cache